@import "syntax-variables";

atom-text-editor, :host {
  background: radial-gradient(ellipse at center, #000000 0%,#001000 90%);
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
		text-shadow: 0px 0px 5px rgba(0,255,0,0.5);
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @medium-green;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
	background: repeating-linear-gradient(0deg, @black, @black 1px, @syntax-selection-color 2px, @syntax-selection-color 1px);
	border-right: 2px solid darken(@dark-green,5%);
	border-left: 2px solid darken(@dark-green,5%);
  }
}

atom-text-editor .search-results .marker .region,
:host .search-results .marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color !important;
}

atom-text-editor::shadow {
    .find-result .region {
		background-color: transparent;
        border: none;
		outline: 1px solid @syntax-result-marker-color;
		outline-offset: 1px;
    }
}

atom-text-editor .search-results .marker.current-result .region,
:host .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.comment {
  color: @medium-green;
}

.entity {
  &.name.type {
    color: @bright-green;
	font-weight: bold;
	text-shadow: 0px 0px 5px rgba(0,255,193,0.8);
  }

  &.other.inherited-class {
    color: @green;
  }
}

.keyword {
  color: @blue-green;
  text-shadow: 0px 0px 5px rgba(0,255,193,0.5);

  &.control {
    color: @green;
  }

  &.operator {
    color: @attribute-green;
  }
  	&.key {
		color: @operator-green;
	}
	&.class {
		color: @class-green;
	}
	&.assignment {
		color: @special-green;
		text-shadow: 0px 0px 10px rgba(100,255,100,1);
	}
	&.comparison {
		color: @special-green;
		text-shadow: 0px 0px 10px rgba(100,255,100,1);
	}
	&.logical {
		color: @special-green;
		text-shadow: 0px 0px 10px rgba(100,255,100,1);
	}

  &.other.special-method {
    color: @green;
  }

  &.other.unit {
    color: @green;
  }
}

.storage {
  color: @sea-green;
}

.constant {
  color: @sea-green;

  &.character.escape {
    color: @yellow-green;
  }

  &.numeric {
    color: @sea-green;
  }

  &.other.color {
    color: @blue-green;
  }

  &.other.symbol {
    color: @blue-green;
  }
}

.variable {
  color: @variable-green;
  border-bottom: 1px dashed @very-dark-green;

  &.interpolation {
    color: darken(@green, 10%);
  }

  &.parameter.function {
    color: @syntax-text-color;
  }
}

.invalid.illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.string {
  color: @yellow-green;
  text-shadow: 0px 5px 5px rgba(100,255,100,0.2);


  &.regexp {
    color: @yellow-green;

    .source.ruby.embedded {
      color: @yellow-green;
    }
  }

  &.other.link {
    color: @yellow-green;
  }
}

.punctuation {
  &.definition {
    &.comment {
      color: @dark-green;
    }

    &.string,
    &.variable,
    &.parameters,
    &.array {
      color: @syntax-text-color;
    }

    &.heading,
    &.identity {
      color: @light-green;
    }

    &.bold {
      color: @green;
      font-weight: bold;
    }

    &.italic {
      color: @green;
      font-style: italic;
    }
  }

  &.section.embedded {
    color: darken(@green, 10%);
  }

}

.support {
  &.class {
    color: @bright-green;
	font-weight: 400;
	text-shadow: 0px 0px 7px rgba(150, 255, 150, 0.7);
  }

  &.function  {
	color: @bright-green;
	text-shadow: 0px 0px 7px rgba(150, 255, 150, 0.7);

    &.any-method {
		color: @bright-green;
		text-shadow: 0px 0px 7px rgba(150, 255, 150, 0.7);
    }
  }
}

.entity {
  &.name.function {
    color: @light-green;
  }

  &.name.class, &.name.type.class {
    color: @light-green;
  }

  &.name.section {
    color: @light-green;
  }

  &.name.tag {
    color: @light-green;
    text-decoration: underline;
  }

  &.other.attribute-name {
    color: @attribute-green;

    &.id {
      color: @light-green;
    }
  }
}

.meta {
  &.class {
    color: @attribute-green;
  }

  &.link {
    color: @attribute-green;
  }

  &.require {
    color: @attribute-green;
  }

  &.selector {
    color: @attribute-green;
  }

  &.separator {
    background-color: @black;
    color: @syntax-text-color;
  }

  &.function-call {
	color: @blue-green;
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: @attribute-green;
    font-weight: bold;
  }

  &.changed {
    color: @bright-green;
  }

  &.deleted {
    color: @medium-green;
  }

  &.italic {
    color: @green;
    font-style: italic;
  }

  &.heading .punctuation.definition.heading {
    color: @bright-green;
  }

  &.inserted {
    color: @light-green;
  }

  &.list {
    color: @green;
  }

  &.quote {
    color: @medium-green;
  }

  &.raw.inline {
    color: @medium-green;
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @bright-green;
  }
}

atom-text-editor[mini] .scroll-view,
:host([mini]) .scroll-view {
  padding-left: 1px;
  background-color: @black;
}
